# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# Docker
.docker_data/

# IDE
.vscode/
.idea/

# Alembic
alembic/__pycache__/

# Uploaded files
files/meal_plans/*
!files/meal_plans/.gitkeep
