services:
  db:
    image: postgres:15-alpine
    container_name: fitplanbot_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fitplanbot
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7-alpine
    container_name: fitplanbot_redis
    ports:
      - "6379:6379"
    restart: always

  adminer:
    image: adminer
    container_name: fitplanbot_adminer
    ports:
      - "8080:8080"
    restart: always

volumes:
  postgres_data:
